<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<import resource="Agente.xml"/>
	<import resource="AhorroAvisosRetiro.xml"/>	
	<import resource="AhorroConceptos.xml"/>
	<import resource="AhorroContrato.xml"/>
	<import resource="AhorroContratoDatos.xml"/>
	<import resource="AhorroCuentasMiDebito.xml"/>
	<import resource="AhorroCuentas.xml"/>
	<import resource="AhorroCuentasN1.xml"/>
	<import resource="Ahorro.xml"/>
	<import resource="AhorroDeposito.xml"/>
	<import resource="AhorroDisposiciones.xml"/>	
	<import resource="AhorroGarantias.xml"/>
	<import resource="AhorroIdeValores.xml"/>
	<import resource="AhorroMovimientos.xml"/>
	<import resource="AhorroPagare.xml"/>
	<import resource="AhorroRendimiento.xml"/>
	<import resource="AhorroRendimientoVigente.xml"/>
	<import resource="AhorroRenovaciones.xml"/>
	<import resource="AhorroRetenciones.xml"/>
	<import resource="AhorroSaldos.xml"/>
	<import resource="AhorroTransferencias.xml"/>
	<import resource="Auditoria.xml"/>
	<import resource="Beneficiario.xml"/>
	<import resource="Campanias.xml"/>
	<import resource="Canales.xml"/>
	<import resource="Catinsti.xml"/>
	<import resource="Colonia.xml"/>
	<import resource="DirectorioTelefonico.xml"/>
	<import resource="Ministra.xml"/>
	<import resource="MovimientosCaja.xml"/>
	<import resource="ParametrosGenerales.xml"/>
	<import resource="PIN.xml"/>
	<import resource="Productos.xml"/>
	<import resource="PosicionGlobal.xml"/>
	<import resource="ProductoAhorro.xml"/>
	<import resource="Regiones.xml"/>
	<import resource="RegistroCodi.xml"/>
	<import resource="Rendimiento.xml"/>
	<import resource="Representante.xml"/>
	<import resource="RegistroServiciosDigitales.xml"/>
	<import resource="Solicitante.xml"/>
	<import resource="Sorteo.xml"/>
	<import resource="Spring-Datasource.xml" />
	<import resource="Transacciones.xml"/>
	<import resource="ValoresPropertiesIniciales.xml"/>
	<import resource="AhorroAlfresco.xml"/>
	<import resource="ValorUdi.xml"/>
	<import resource="CuentaAsp.xml"/>
	<import resource="ValidacionesServicios.xml"/>
	<import resource="Movimientos.xml"/>
	<import resource="EmpresaServicios.xml"/>
	<import resource="Tarjetas.xml"/>	
	<import resource="EmpresaCombo.xml"/>
	<import resource="CuentaAsp.xml"/>
	<import resource="AhorroExpediente.xml"/>
	<import resource="FavoritosTransferencias.xml"/>
	<import resource="Inversiones.xml"/>
	<import resource="InversionesPagos.xml"/>
</beans>
